{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <a href="{{ path('project_new')}}">Créer un projet</a>
    <h1>Vos projet en cours</h1>
    <div class="row">
    {% for project in projects %}
        {% if project.user.id is same as app.user.id %}
                <div class="card col-6 col-md-3 m-3" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ path('project_show', {'id' : project.id}) }}" class="card-title">{{ project.name }}</a>
                        <h6 class="card-subtitle mb-2 text-muted">date de création : {{ project.creationDate ? project.creationDate|date('d-m-Y') : '' }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">deadline : {{ project.deadline ? project.deadline|date('d-m-Y') : '' }}</h6>
                    </div>
                </div>
        {% endif %}
    {% endfor %}
    </div>
    {# <a href="{{ path('project_new') }}">Create new</a> #}
{% endblock %}
